ul {
    font-family:inherit;
    font-size: 22px;
    line-height: 26px;
    color: #525252;
    
}

ul li {
    margin-bottom: 15px;
    display: flex;
}

.category {
    margin: 140px 0 0 50px;
}

.category label {
    font-size: 22px;
}

.category input {
    visibility: hidden;
}

.category label:hover
{
    color:#EA5959;
    cursor: pointer;
}

.category input:checked + label{
     color:#EA5959;
    cursor: pointer;
}

.left {
    width: 212px;
    height: 624px;
    border-right: 1px solid #D8D8D8
}



h2{
    /* width: 200px; */
    margin: 30px 0 30px 40px;
}

.add-input{
    Width: 648px;
    margin: 0 0 35px 40px;
    padding: 13px 0 16px 26px;
    background-color: #F3F3F3;
    border-radius: 7px;
    outline: none;
    border: none;
    display: inline-block;
    position: relative;
}
.right {
    position: relative;
}



.addButton {
    width: 45px;
    height: 45px;
    display: inline-block;
    position: absolute;
    right: 35px;
    top: 106px;
    cursor: pointer;
    background-color: #EA5959;
    border-radius: 7px;
}
.addCategory:hover{
     transform: scale(1.25);
}

.addCategory{
     width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 5px;
    cursor: pointer;
    background-color: #EA5959;
    border-radius: 7px;
}

.addButton:hover{
     transform: scale(1.05);
    
 }


input::placeholder{
color: #B5B5B5;
}

.right ul {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tasks label {
    width: 320px;
    margin-left: 30px;
}

.tasks-input {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #EA5959;
}

.type {
    border: none;
    width: 115px;
    background-color: #EA5959;
    color: #fff;
    border-radius: 7px;
    height: 30px;
    appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
   outline: none;
   font-size: 16px;
   text-align: center;
}

.type h4 {
   margin: 0;
   padding: 0;
}

.img{
    display: none;
    width: 170px;
    justify-content: flex-end;
}

.img img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.tasks{
    display: flex;
    transition: transform 0.1s;
}

.tasks:hover .img, .tasks{
    display: flex;
}